{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Login Usuario
{% endblock %}

{% block navbar %}
<div class="row">
    <div class="col-md-6 col-md-offset-3" >
        <div class="form-group">
            <h1>Login</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-header">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="form-group">
                  <label for="exampleInputEmail1">Direccion de correo</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese email">
                  <small id="emailHelp" class="form-text text-muted">Nosotros nunca compartiremos su direccion de correo.</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="form-group">
                    <a href="#">Olvidé mi contraseña</a><br>
                    <input class="btn btn-success" type="submit" value="Ingresar">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <p><strong>-- OR --</strong></p>
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
                    <p><strong>-- OR --</strong></p>
                    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
                </div>

            </div>
        </div>
    </form>
</div>

{% endblock %}