{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

<div class="jumbotron">
{% if validlink %}

    <h1 class="display-3">Nueva contraseña</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nueva contraseña:</label>
        {{ form.new_password1 }}

        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirme contraseña:</label>
        {{ form.new_password2 }}

        <button class="btn btn-success" type="submit">
                <i class="fa fa-send"></i>&nbsp;Cambiar contraseña
        </button>
    </form>

{% else %}

    <h1 class="display-3">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO CON ANTERIORIDAD</h1>

{% endif %}

</div>

{% endblock %}